# OVERVIEW

In [18]:
import pandas as pd

In [19]:
#load the dataset
df =pd.read_csv(r"C:\Users\hp\Documents\MORINGA FLATIRON\Sentiment Analysis\NLP-Sentiment-Analysis-Apple-Google\NLP-Sentiment-Analysis-Apple-Google\judge-1377884607_tweet_product_company.csv")
df.head()

,tweet_text,emotion_in_tweet_is_directed_at,is_there_an_emotion_directed_at_a_brand_or_product
0,.@wesley83 I have a 3G iPhone. After 3 hrs twe...,iPhone,Negative emotion
1,@jessedee Know about @fludapp ? Awesome iPad/i...,iPad or iPhone App,Positive emotion
2,@swonderlin Can not wait for #iPad 2 also. The...,iPad,Positive emotion
3,@sxsw I hope this year's festival isn't as cra...,iPad or iPhone App,Negative emotion
4,@sxtxstate great stuff on Fri #SXSW: Marissa M...,Google,Positive emotion

In [20]:
#check the number of rows and columns
df.shape

(9093, 3)

In [21]:
#review column names
column_names = df.columns.tolist()
print("Column names:")
for col in column_names:
    print(f"- {col}")

Column names:
- tweet_text
- emotion_in_tweet_is_directed_at
- is_there_an_emotion_directed_at_a_brand_or_product

In [22]:
# Rename the columns
df.rename(columns={
    'tweet_text': 'tweet',
    'emotion_in_tweet_is_directed_at': 'product',
    'is_there_an_emotion_directed_at_a_brand_or_product': 'sentiment'
}, inplace=True)

# Check the updated df
df.head()

,tweet,product,sentiment
0,.@wesley83 I have a 3G iPhone. After 3 hrs twe...,iPhone,Negative emotion
1,@jessedee Know about @fludapp ? Awesome iPad/i...,iPad or iPhone App,Positive emotion
2,@swonderlin Can not wait for #iPad 2 also. The...,iPad,Positive emotion
3,@sxsw I hope this year's festival isn't as cra...,iPad or iPhone App,Negative emotion
4,@sxtxstate great stuff on Fri #SXSW: Marissa M...,Google,Positive emotion

In [23]:
# Explore the data 

# Data types of columns
data_types = df.dtypes
print("Data types of columns:")
print(data_types)

# Missing values
missing_values = df.isnull().sum()
print("\nMissing values:")
print(missing_values)

Data types of columns:
tweet        object
product      object
sentiment    object
dtype: object

Missing values:
tweet           1
product      5802
sentiment       0
dtype: int64

In [24]:
#Get summary statistics
df.describe()

,tweet,product,sentiment
count,9092,3291,9093
unique,9065,9,4
top,RT @mention Marissa Mayer: Google Will Connect...,iPad,No emotion toward brand or product
freq,5,946,5389

The dataframe has **9093 rows and 3 columns**
 
All the data is of the object type which normally represents text or categorical data

The columns are named:
**tweet**
    *-contains 9092 non-null entries of text data and has 1 missing value*
    *-The top Tweet is a retweeted 5 times*

**product**
    *- Represents the emotion attached to a specific brand or product*
    *- There are 3291 non-null entries and has 5802 missing values*
    *- The most frequent value is “iPad” (appears 946 times)*

**sentiment**
    *-Indicates whether there is an emotion directed at a brand or product*
    *-Four possible values:*
        *“Positive emotion”, “Negative emotion”,“No emotion toward brand or product” (appears 5389 times),“I can’t tell”*
    *- The most common emotion is "No emotion toward brand or product"*

In [25]:
#DRop misiing value in tweet column
df.dropna(subset=['tweet'], inplace=True)
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9092 entries, 0 to 9092
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet      9092 non-null   object
 1   product    3291 non-null   object
 2   sentiment  9092 non-null   object
dtypes: object(3)
memory usage: 284.1+ KB

In [26]:
#Check product column missing values' content
null_rows = df[df['product'].isnull()]

# Print the rows
null_rows

,tweet,product,sentiment
5,@teachntech00 New iPad Apps For #SpeechTherapy...,NaN,No emotion toward brand or product
16,Holler Gram for iPad on the iTunes App Store -...,NaN,No emotion toward brand or product
32,"Attn: All #SXSW frineds, @mention Register fo...",NaN,No emotion toward brand or product
33,Anyone at #sxsw want to sell their old iPad?,NaN,No emotion toward brand or product
34,Anyone at #SXSW who bought the new iPad want ...,NaN,No emotion toward brand or product
...,...,...,...
9087,"@mention Yup, but I don't have a third app yet...",NaN,No emotion toward brand or product
9089,"Wave, buzz... RT @mention We interrupt your re...",NaN,No emotion toward brand or product
9090,"Google's Zeiger, a physician never reported po...",NaN,No emotion toward brand or product
9091,Some Verizon iPhone customers complained their...,NaN,No emotion toward brand or product
9092,�ϡ�����_��ʋ�΋�ҋ�������⋁_��������_���RT @mentio...,NaN,No emotion toward brand or product

In [27]:
#List of keywords related to Apple and Google
apple_keywords = ['apple', 'iphone', 'ipad', 'mac', 'ios','itunes']
google_keywords = ['google', 'android', 'pixel', 'chromebook','android','samsung']

# Function to check if a tweet contains keywords related to Apple or Google
def check_product(tweet):
    if isinstance(tweet, str):
        tweet_lower = tweet.lower()
        if any(keyword in tweet_lower for keyword in apple_keywords):
            return 'Apple'
        elif any(keyword in tweet_lower for keyword in google_keywords):
            return 'Google'
    return None

# Apply the function to each row in the DataFrame
# Apply the function to each row in the DataFrame
null_rows['product'] = null_rows['tweet'].apply(check_product)

# Print the DataFrame to see the updated 'product' column
null_rows

C:\Users\hp\AppData\Local\Temp\ipykernel_6624\4097416255.py:17: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_rows['product'] = null_rows['tweet'].apply(check_product)

,tweet,product,sentiment
5,@teachntech00 New iPad Apps For #SpeechTherapy...,Apple,No emotion toward brand or product
16,Holler Gram for iPad on the iTunes App Store -...,Apple,No emotion toward brand or product
32,"Attn: All #SXSW frineds, @mention Register fo...",Google,No emotion toward brand or product
33,Anyone at #sxsw want to sell their old iPad?,Apple,No emotion toward brand or product
34,Anyone at #SXSW who bought the new iPad want ...,Apple,No emotion toward brand or product
...,...,...,...
9087,"@mention Yup, but I don't have a third app yet...",Google,No emotion toward brand or product
9089,"Wave, buzz... RT @mention We interrupt your re...",Google,No emotion toward brand or product
9090,"Google's Zeiger, a physician never reported po...",Google,No emotion toward brand or product
9091,Some Verizon iPhone customers complained their...,Apple,No emotion toward brand or product
9092,�ϡ�����_��ʋ�΋�ҋ�������⋁_��������_���RT @mentio...,Google,No emotion toward brand or product

In [28]:
# Review number of missing value again
null_rows.isna().sum()

tweet          0
product      699
sentiment      0
dtype: int64

In [29]:
null_rows.dropna(subset = ['product'], inplace=True)
print(null_rows)

                                                  tweet product  \
5     @teachntech00 New iPad Apps For #SpeechTherapy...   Apple
16    Holler Gram for iPad on the iTunes App Store -...   Apple
32    Attn: All  #SXSW frineds, @mention Register fo...  Google
33        Anyone at  #sxsw want to sell their old iPad?   Apple
34    Anyone at  #SXSW who bought the new iPad want ...   Apple
...                                                 ...     ...
9087  @mention Yup, but I don't have a third app yet...  Google
9089  Wave, buzz... RT @mention We interrupt your re...  Google
9090  Google's Zeiger, a physician never reported po...  Google
9091  Some Verizon iPhone customers complained their...   Apple
9092  �ϡ�����_��ʋ�΋�ҋ�������⋁_��������_���RT @mentio...  Google

                               sentiment
5     No emotion toward brand or product
16    No emotion toward brand or product
32    No emotion toward brand or product
33    No emotion toward brand or product
34    No emotion toward brand or product
...                                  ...
9087  No emotion toward brand or product
9089  No emotion toward brand or product
9090  No emotion toward brand or product
9091  No emotion toward brand or product
9092  No emotion toward brand or product

[5102 rows x 3 columns]

C:\Users\hp\AppData\Local\Temp\ipykernel_6624\1207926016.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  null_rows.dropna(subset = ['product'], inplace=True)

In [14]:
null_rows.isna().sum()

tweet        0
product      0
sentiment    0
dtype: int64

In [15]:
null_rows.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5102 entries, 5 to 9092
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet      5102 non-null   object
 1   product    5102 non-null   object
 2   sentiment  5102 non-null   object
dtypes: object(3)
memory usage: 159.4+ KB

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 9092 entries, 0 to 9092
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   tweet      9092 non-null   object
 1   product    3291 non-null   object
 2   sentiment  9092 non-null   object
dtypes: object(3)
memory usage: 284.1+ KB

In [ ]:
# Merge the DataFrames based on the 'tweet' column
merged_df = pd.merge(df[['tweet', 'sentiment']], null_rows[['tweet', 'product', 'sentiment']], on='tweet', how='left')

# Replace the previous sentiments with the new sentiments
merged_df['sentiment'] = merged_df['sentiment_y'].fillna(merged_df['sentiment_x'])

# Drop the unnecessary columns
merged_df.drop(columns=['product', 'sentiment_x', 'sentiment_y'], inplace=True)

# Update the original DataFrame by dropping the rows with null sentiments
df.dropna(subset=['sentiment'], inplace=True)

# Concatenate the DataFrames to restore the original rows with updated sentiments
df = pd.concat([df, merged_df])

# Display the updated DataFrame
df.info()

In [ ]:
#Merge the DataFrames based on the 'tweet' column
merged_df = pd.merge(df[['tweet', 'sentiment']],null_rows[['tweet', 'product', 'sentiment']], on='tweet', how='left')

# Replace the previous sentiments with the new sentiments
merged_df['sentiment'] = merged_df['sentiment_y'].fillna(merged_df['sentiment_x'])

# Drop the unnecessary columns
merged_df.drop(columns=['product', 'sentiment_x', 'sentiment_y'], inplace=True)

# Concatenate the DataFrames to restore the original rows with null values
df = pd.concat([df, merged_df])


# Display the updated DataFrame
merged_df.info()

In [ ]:
#find unique products
unique_products = df['product'].unique()
print("Unique products mentioned:")
print(unique_products)

In [ ]:
# find number of each product
product_counts = df['product'].value_counts()
print("\nProduct counts:")
print(product_counts)

In [ ]:
import matplotlib.pyplot as plt
import seaborn as sns

# plots style
sns.set(style="whitegrid")

# Bar plot for product counts
plt.figure(figsize=(10, 6))
sns.countplot(x='product', data=df, order=df['sentiment'].value_counts().index)
plt.title("Product Mentions in Tweets")
plt.xlabel("Product")
plt.ylabel("Count")
plt.xticks(rotation=45)
plt.show()